
@if (!ViewData.ModelState.IsValid) {
    <div class=."error" style="color: red">Complete todos los campos</div>
     
}
<h5><button onclick="getLocation()">Obtener ubicacion</button> </h5>
<form method="post">
  <h5>Nombre : <input type="text" name="Name" value = "@Model.Name"> <br></h5>
  <h5>Descripcion : <input type="text" name="Description" value = "@Model.Description" > <br></h5>
  <h5>Codigo de Barras: <input type="text" name="BarCode" value="@Model.BarCode" > <br> </h5>
  <h5>Precio: <input type="number" name="Price"> <br> </h5>
  <h5>Latitud: <input type="text" id= "Latitude" name="Latitude" value="" > 
  Longitud: <input type="text" id= "Longitude" name="Longitude" value=""> </h5><br>
 <h5><a id="demo"></a> </h3>
  
  <button type="submit">Submit</button><br>

  <script src="/js/loadPrice.js"></script>
</form>


